.button {
  background: $button-color;
  padding: 10px 20px;
  border: 0px;
  border-radius: 50px;
  color: gray;
  font-weight: 600;
  cursor: pointer;

  &-group-wrapper {
    display: flex;
    align-items: stretch;
  }

  &--circle {
    border-radius: 50%;
    padding: 0;
    height: 35px;
    width: 35px;
    font-size: 16px;
  }

  &:hover {
    box-shadow: 0px 0px 5px $shadow-color;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;

    &:hover {
      box-shadow: none;
    }
  }
}
