.keywords-table {
  padding: 30px 50px 70px;
  box-shadow: 0 0 15px $shadow-color;
  border-radius: 30px;
  width: 1024px;
  border-collapse: separate;
  border-spacing: 0 10px;

  th {
    width: 30%;
    color: lightgray;
    text-align: left;
  }

  .category-row {
    .category-name {
      cursor: pointer;
    }

    .category-keywords {
      display: flex;
      flex-wrap: wrap;
    }

    .category-action {
      & * {
        float: right;
      }
    }
  }
}
